{:play-with-integrant.layer-1/webserver
 {:port 8081
  :handler #ig/ref :play-with-integrant.layer-1/handlers}
 ;;
 :play-with-integrant.layer-1/handlers
 {:name "Alice"} ; TODO Seems nuts to have `:name` here
 ;;
 :play-with-integrant.playground/key-001
 {:play-with-integrant.playground/key-001 1}
 ;;
 :play-with-integrant.playground/key-002
 {:play-with-integrant.playground/key-002 #ig/ref :play-with-integrant.playground/key-001}}
